<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WARHOUSE AUTOMATION</title>
    <link rel="stylesheet" href="css/swiper-boundle.min.css">
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
    
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__wrapper">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <a href="index.html" class="header__logo">
                        <img src="images/logo.svg" alt="logo">
                        <p class="header__logo-text">Вилочные погрузчики и техника для склада с доставкой по России</p>
                    </a>
                    <a href="index.html" class="header__mobile-logo">
                        <img src="images/logo.svg" alt="logo">
                    </a>
                    <div class="header__location">
                        <div class="header__location-icon">
                            <img src="images/location-icon.svg" alt="location">
                        </div>
                        <div class="header__location-info">
                            <div class="header__location-city">Москва</div>
                            <div class="header__location-address">Лихоборская набережная дом 3</div>
                        </div>
                    </div>
                    <div class="header__telephone">
                        <div class="header__telephone-icon">
                            <img src="images/call-icon.svg" alt="call">
                        </div>
                        <a href="tel:+74951667733" class="header__telephone-number">+7 (495) 166-77-33</a>
                    </div>
                    <div class="header__btn" data-modal>Заказать звонок</div>
                </div>
                <nav class="nav">
                    <ul class="nav__menu">
                        <li><a href="#our-tech" class="nav__link">Наша техника</a></li>
                        <li><a href="#delivery" class="nav__link">Доставка</a></li>
                        <li><a href="#lizing" class="nav__link">Лизинг</a></li>
                        <li><a href="company.html" class="nav__link">О компании</a></li>
                        <li><a href="service.html" class="nav__link">Сервис и запчасти</a></li>
                        <li><a href="news-catalog.html" class="nav__link">Новости</a></li>
                        <li><a href="catalog.html" class="nav__link">Каталог</a></li>
                        <li><a href="#footer" class="nav__link">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="mobile-menu">
                <nav class="mobile-nav">
                    <ul class="mobile-nav__menu">
                        <li><a href="#our-tech" class="mobile-nav__link">Наша техника</a></li>
                        <li><a href="#delivery" class="mobile-nav__link">Доставка</a></li>
                        <li><a href="#lizing" class="mobile-nav__link">Лизинг</a></li>
                        <li><a href="company.html" class="mobile-nav__link">О компании</a></li>
                        <li><a href="service.html" class="mobile-nav__link">Сервис и запчасти</a></li>
                        <li><a href="news-catalog.html" class="mobile-nav__link">Новости</a></li>
                        <li><a href="catalog.html" class="mobile-nav__link">Каталог</a></li>
                        <li><a href="#footer" class="mobile-nav__link">Контакты</a></li>
                    </ul>
                </nav>
                <div class="menu__location">
                    <div class="menu__location-icon">
                        <img src="images/location-icon.svg" alt="location">
                    </div>
                    <div class="menu__location-info">
                        <div class="menu__location-city">Москва</div>
                        <div class="menu__location-address">Лихоборская набережная дом 3, строение 9</div>
                    </div>
                </div>
                <div class="menu__telephone">
                    <div class="menu__telephone-icon">
                        <img src="images/call-icon.svg" alt="call">
                    </div>
                    <a href="tel:+74951667733" class="menu__telephone-number">+7 (495) 166-77-33</a>
                </div>
                <button class="menu__call-btn">Заказать звонок</button>
                <div class="menu__social">
                    <!-- <div class="menu__social-item">
                        <a href="#"><img src="images/social-icons/facebook.svg" alt=""></a>
                    </div> -->
                    <div class="menu__social-item">
                        <a href="#"><img src="images/social-icons/youtube.svg" alt=""></a>
                    </div>
                    <!-- <div class="menu__social-item">
                        <a href="#"><img src="images/social-icons/Instagram.svg" alt=""></a>
                    </div> -->
                    <div class="menu__social-item">
                        <a href="#"><img src="images/social-icons/whatsapp.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </header>

        <main class="main">
            <div class="product-card">
                <div class="container">
                    <div class="breadcrumbs">
                        <div class="breadcrumbs__block-white">
                            <a href="#" class="breadcrumbs__item breadcrumbs__item-white">Главная</a>
                        </div>
                        <div class="breadcrumbs__block">
                            <span class="breadcrumbs__item">EP ESL122</span>
                        </div>
                    </div>
                    <div class="product-card__wrapper">
                        <div class="product-card__img-box">
                            <div class="product-card__slider">
                                <div class="swiper-wrapper">
                                    <div class="product-card__slider-item swiper-slide">
                                        <img src="images/product-page/1.jpg" alt="">
                                    </div>
                                    <div class="product-card__slider-item swiper-slide">
                                        <img src="images/product-page/2.jpg" alt="">
                                    </div>
                                    <div class="product-card__slider-item swiper-slide">
                                        <img src="images/product-page/3.jpg" alt="">
                                    </div>
                                    <div class="product-card__slider-item swiper-slide">
                                        <img src="images/product-page/4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                            <p class="product-card__price-old">1 234 567 ₽</p>
                            <p class="product-card__price-new">1 123 456 ₽</p>
                            <a href="#" class="product-card__link">Нашли дешевле? Снизим цену!</a>
                        </div>
                        <div class="product-card__content">
                            <p class="product-card__title">Штабелер EP ESL122 ECONOMY (1200 КГ)</p>
                            <p class="product-card__articul">Код товара: 12345</p>
                            <div class="product-card__btns">
                                <a href="#" class="product-card__favorite">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 0 24 24" width="28px" fill="gray"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path></svg>
                                </a>
                            </div>
                            <div class="product-card__tabs">
                                <div class="tabs">
                                    <ul>
                                        <li class="product-card__tabs-item is-active">Характеристики</li>
                                        <li class="product-card__tabs-item">Дополнительная информация</li>
                                    </ul>
                                </div>
                                <div class="product-card__tabs-catalog characteristic">
                                    <div class="characteristic-wrapper">
                                        <div class="product-card__tabs-catalog-item bottom-line">
                                            <div class="product-card__tabs-catalog-item-left">
                                                Грузоподъемность: 
                                            </div>
                                            <div class="product-card__tabs-catalog-item-right">
                                                1200 кг
                                            </div>
                                        </div>
                                        <div class="product-card__tabs-catalog-item bottom-line">
                                            <div class="product-card__tabs-catalog-item-left">
                                                Центр тяжести: 
                                            </div>
                                            <div class="product-card__tabs-catalog-item-right">
                                                600 мм
                                            </div>
                                        </div>
                                        <div class="product-card__tabs-catalog-item bottom-line">
                                            <div class="product-card__tabs-catalog-item-left">
                                                Тип: 
                                            </div>
                                            <div class="product-card__tabs-catalog-item-right">
                                                Сопровождаемый
                                            </div>
                                        </div>
                                        <div class="product-card__tabs-catalog-item bottom-line">
                                            <div class="product-card__tabs-catalog-item-left">
                                                Высота подъема: 
                                            </div>
                                            <div class="product-card__tabs-catalog-item-right">
                                                3000-3600 мм
                                            </div>
                                        </div>
                                        <div class="product-card__tabs-catalog-item bottom-line">
                                            <div class="product-card__tabs-catalog-item-left">
                                                Тип коробки передач: 
                                            </div>
                                            <div class="product-card__tabs-catalog-item-right">
                                                Автоматическая
                                            </div>
                                        </div>
                                        <div class="product-card__tabs-catalog-item bottom-line">
                                            <div class="product-card__tabs-catalog-item-left">
                                                Двигатели: 
                                            </div>
                                            <div class="product-card__tabs-catalog-item-right">
                                                Электрические
                                            </div>
                                        </div>
                                        <div class="product-card__tabs-catalog-item bottom-line">
                                            <div class="product-card__tabs-catalog-item-left">
                                                Мощность ходового двигателя: 
                                            </div>
                                            <div class="product-card__tabs-catalog-item-right">
                                                0.75 kW 
                                            </div>
                                        </div>
                                        <div class="product-card__tabs-catalog-item bottom-line">
                                            <div class="product-card__tabs-catalog-item-left">
                                                Мощность двигателя подъема: 
                                            </div>
                                            <div class="product-card__tabs-catalog-item-right">
                                                2.2 kW
                                            </div>
                                        </div>
                                        <div class="product-card__tabs-catalog-item bottom-line">
                                            <div class="product-card__tabs-catalog-item-left">
                                                АКБ: 
                                            </div>
                                            <div class="product-card__tabs-catalog-item-right">
                                                Литий-Ионный 24V/80 Ah
                                            </div>
                                        </div>
                                        <div class="product-card__tabs-catalog-item bottom-line">
                                            <div class="product-card__tabs-catalog-item-left">
                                                Зарядное устройство:
                                            </div>
                                            <div class="product-card__tabs-catalog-item-right">
                                                Встроенное
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="characteristic-show-more">Показать еще</a>
                                </div>
                                <div class="product-card__tabs-catalog addinfo  hide">
                                    <div class="product-card__tabs-catalog-item">
                                        <div class="product-card__tabs-catalog-item-addinfo">
                                            <span>Lorem ipsum dolor sit amet consectetur</span> adipisicing elit. Quasi quos id tempora quibusdam voluptatibus veritatis alias possimus expedita quia repudiandae voluptate dolorem tempore, atque sequi ducimus sint exercitationem ullam assumenda! Nisi eius aliquam, possimus at vel debitis quidem molestiae beatae mollitia. Aliquid molestiae sequi reprehenderit blanditiis provident earum, accusantium reiciendis!
                                            <br>
                                            <br>
                                            <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit</span>. Alias dolorem rem repudiandae unde eum obcaecati vitae assumenda quos necessitatibus dolorum perspiciatis aperiam architecto dignissimos soluta tenetur, harum, non voluptatibus nostrum.
                                            <br>
                                            <br>
                                            <span>Lorem ipsum dolor</span>, sit amet consectetur adipisicing elit. Modi et cumque nulla! Ipsa sunt accusamus natus tempore ea illo ad ipsam facilis sint, quae eos reiciendis, voluptatem eius nihil exercitationem voluptates ratione aspernatur officiis ab non. Ullam, odit, modi commodi eum quisquam architecto tempore debitis recusandae maxime neque fuga impedit?
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="product-card__pay-btn">Купить</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="map">
                <div class="container">
                    <div class="map__wrapper">
                        <div class="map__form map__form">
                            <p class="map__form-title">Подберем технику за 15 минут</p>
                            <p class="map__form-subtitle">Оставьте свой номер, и мы перезвоним вам</p>
                            <form action="/">
                                <div class="map__form-item">
                                    <input class="map__form-input" type="text" name="phone" placeholder="Ваш номер телефона">
                                </div>
                                <div class="map__form-item">
                                    <input class="map__form-input" type="text" name="name" placeholder="Ваше имя">
                                </div>
                                <div class="map__form-item">
                                    <button class="map__form-btn" type="submit">Отправить</button>
                                </div>
                                <div class="map__form-item">
                                    <div class="map__form-checkbox">
                                        <input id="map-formAgreement" checked type="checkbox" name="agreement" class="map__checkbox-input">
                                        <label for="map-formAgreement" class="map__checkbox-label">
                                            <span>
                                                Я даю свое согласие на обработку персональных данных 
                                                и соглашаюсь с условиями и политикой конфиденциальности
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <a href="https://yandex.uz/maps/213/moscow/house/likhoborskaya_naberezhnaya_3s9/Z04YcwVhQUICQFtvfXR0dXxrZg==/?ll=37.520370%2C55.853907&z=17.54" target="_blank" id="map-block" class="map__block">
                        </a>
                    </div>
                </div>
            </div>

        </main>

        <footer class="footer" id="footer">
            <div class="container">
                <div class="footer__wrapper">
                    <div class="footer__item">
                        <a href="#top" class="footer__logo">
                            <img src="images/logo.svg" alt="logo">
                        </a>
                        <a href="#" class="footer__app-link">
                            <img src="images/google-play.webp" alt="link">
                        </a>
                    </div>
                    <div class="footer__item">
                        <div class="footer__address">
                            <p class="footer__address-title">АДРЕС</p>
                            <p class="footer__address-text">
                                Москва, Лихоборская набережная дом 3
                            </p>
                        </div>
                        <div class="footer__contacts">
                            <p class="footer__contacts-title">КОНТАКТЫ</p>
                            <a href="tel:+74951667733" class="footer__contacts-number">+7 (495) 166-77-33</a>
                            <p class="footer__contacts-email">mail@trade-group.su</p>
                        </div>
                    </div>
                    <div class="footer__item">
                        <p class="footer__item-title">КОМПАНИЯ</p>
                        <ul>
                            <li><a href="#" class="footer__item-link">О компании</a></li>
                            <li><a href="#" class="footer__item-link">Доставка</a></li>
                            <li><a href="#" class="footer__item-link">Сервис и запчасти</a></li>
                            <li><a href="#" class="footer__item-link">Реквизиты</a></li>
                            <li><a href="#" class="footer__item-link">Отзывы</a></li>
                        </ul>
                    </div>
                    <div class="footer__item">
                        <p class="footer__item-title">КАТАЛОГ</p>
                        <ul>
                            <li><a href="#" class="footer__item-link">Вилочные погрузчики</a></li>
                            <li><a href="#" class="footer__item-link">Техника для склада</a></li>
                            <li><a href="#" class="footer__item-link">Навесное оборудование</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__bottom">
                    <p class="footer__bottom-text">
                        © 2020-2022. ООО «ТРЭЙД ГРУПП». Все права защищены
                    </p>
                    <p class="footer__bottom-policy">Политика конфиденциальности</p>
                    <a href="#" class="footer__bottom-app-link">
                        <img src="images/google-play.webp" alt="link">
                    </a>
                    <div class="footer__bottom-social">
                        <!-- <a href="#" class="footer__social"><img src="images/social-icons/footer-facebook.svg" alt=""></a> -->
                        <a href="#" class="footer__social"><img src="images/social-icons/footer-youtube.svg" alt=""></a>
                        <!-- <a href="#" class="footer__social"><img src="images/social-icons/footer-instagram.svg" alt=""></a> -->
                        <a href="#" class="footer__social"><img src="images/social-icons/footer-whatsapp.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </footer>

        <div class="modal">
            <div class="modal__dialog">
                <div class="modal__content">
                    <div data-close class="modal__close">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.254395" y="16.1326" width="22.8149" height="2.28149" rx="1" transform="rotate(-45 0.254395 16.1326)" fill="#DF0000"/>
                            <rect width="22.8149" height="2.28149" rx="1" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.7458 16.1326)" fill="#DF0000"/>
                        </svg>                                
                    </div>
                    <form id="form">
                        <div class="modal__title">ЗАКАЗАТЬ ЗВОНОК</div>
                        <div class="modal__subtitle">Оставьте свой номер, и мы перезвоним вам</div>
                        <input required placeholder="Ваш номер телефона" name="phone" type="text" class="modal__input">
                        <input required placeholder="Ваше имя" name="name" type="text" class="modal__input">
                        <button type="submit" class="modal__btn">Отправить</button>
                        <div class="modal__checkbox">
                            <input id="modal-formAgreement" checked type="checkbox" name="agreement" class="modal__checkbox-input">
                            <label for="modal-formAgreement" class="modal__checkbox-label">
                                <span>
                                    Я даю свое согласие на обработку персональных данных 
                                    и соглашаюсь с условиями и политикой конфиденциальности
                                </span>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="thanks">
            <div class="thanks__dialog">
                <div class="thanks__content">
                    <div data-close class="thanks__close">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.254395" y="16.1326" width="22.8149" height="2.28149" rx="1" transform="rotate(-45 0.254395 16.1326)" fill="#DF0000"/>
                            <rect width="22.8149" height="2.28149" rx="1" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.7458 16.1326)" fill="#DF0000"/>
                        </svg>                                
                    </div>
                    <div class="thanks__title"><span>Спасибо.</span> <br> Заявка отправлена!</div>
                    <div class="thanks__subtitle">Наш менеджер получил Вашу заявку и скоро свяжется с Вами.</div>
                    <a href="#" class="thanks__link">Главная страница</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/swiper-boundle.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>