<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WARHOUSE AUTOMATION</title>
    <link rel="stylesheet" href="css/swiper-boundle.min.css">
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
    
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__wrapper">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <a href="index.html" class="header__logo">
                        <img src="images/logo.svg" alt="logo">
                        <p class="header__logo-text">Вилочные погрузчики и техника для склада с доставкой по России</p>
                    </a>
                    <a href="index.html" class="header__mobile-logo">
                        <img src="images/logo.svg" alt="logo">
                    </a>
                    <div class="header__location">
                        <div class="header__location-icon">
                            <img src="images/location-icon.svg" alt="location">
                        </div>
                        <div class="header__location-info">
                            <div class="header__location-city">Москва</div>
                            <div class="header__location-address">Лихоборская набережная дом 3</div>
                        </div>
                    </div>
                    <div class="header__telephone">
                        <div class="header__telephone-icon">
                            <img src="images/call-icon.svg" alt="call">
                        </div>
                        <a href="tel:+74951667733" class="header__telephone-number">+7 (495) 166-77-33</a>
                    </div>
                    <div class="header__btn" data-modal>Заказать звонок</div>
                </div>
                <nav class="nav">
                    <ul class="nav__menu">
                        <li><a href="#our-tech" class="nav__link">Наша техника</a></li>
                        <li><a href="#delivery" class="nav__link">Доставка</a></li>
                        <li><a href="#lizing" class="nav__link">Лизинг</a></li>
                        <li><a href="company.html" class="nav__link">О компании</a></li>
                        <li><a href="service.html" class="nav__link">Сервис и запчасти</a></li>
                        <li><a href="news-catalog.html" class="nav__link">Новости</a></li>
                        <li><a href="catalog.html" class="nav__link">Каталог</a></li>
                        <li><a href="#footer" class="nav__link">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="mobile-menu">
                <nav class="mobile-nav">
                    <ul class="mobile-nav__menu">
                        <li><a href="#our-tech" class="mobile-nav__link">Наша техника</a></li>
                        <li><a href="#delivery" class="mobile-nav__link">Доставка</a></li>
                        <li><a href="#lizing" class="mobile-nav__link">Лизинг</a></li>
                        <li><a href="company.html" class="mobile-nav__link">О компании</a></li>
                        <li><a href="service.html" class="mobile-nav__link">Сервис и запчасти</a></li>
                        <li><a href="news-catalog.html" class="mobile-nav__link">Новости</a></li>
                        <li><a href="catalog.html" class="mobile-nav__link">Каталог</a></li>
                        <li><a href="#footer" class="mobile-nav__link">Контакты</a></li>
                    </ul>
                </nav>
                <div class="menu__location">
                    <div class="menu__location-icon">
                        <img src="images/location-icon.svg" alt="location">
                    </div>
                    <div class="menu__location-info">
                        <div class="menu__location-city">Москва</div>
                        <div class="menu__location-address">Лихоборская набережная дом 3, строение 9</div>
                    </div>
                </div>
                <div class="menu__telephone">
                    <div class="menu__telephone-icon">
                        <img src="images/call-icon.svg" alt="call">
                    </div>
                    <a href="tel:+74951667733" class="menu__telephone-number">+7 (495) 166-77-33</a>
                </div>
                <button class="menu__call-btn">Заказать звонок</button>
                <div class="menu__social">
                    <!-- <div class="menu__social-item">
                        <a href="#"><img src="images/social-icons/facebook.svg" alt=""></a>
                    </div> -->
                    <div class="menu__social-item">
                        <a href="#"><img src="images/social-icons/youtube.svg" alt=""></a>
                    </div>
                    <!-- <div class="menu__social-item">
                        <a href="#"><img src="images/social-icons/Instagram.svg" alt=""></a>
                    </div> -->
                    <div class="menu__social-item">
                        <a href="#"><img src="images/social-icons/whatsapp.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </header>

        <main class="main">
            <div class="service-s1">
                <div class="container">
                    <div class="breadcrumbs">
                        <div class="breadcrumbs__block">
                            <a href="#" class="breadcrumbs__item">Главная</a>
                        </div>
                        <div class="breadcrumbs__block">
                            <span class="breadcrumbs__item">Сервис и запчасти</span>
                        </div>
                    </div>
                    <div class="service-s1__wrapper">
                        <div class="service-s1__left">
                            <div class="service-s1__title">Сервис и запчасти</div>
                            <div class="service-s1__subtitle">
                                <span>Warehouse Automation</span> занимается гарантийным ремонтом и сервисным обслуживанием вилочных погрузчиков, складской и дорожно-строительной техники.
                            </div>
                            <div class="service-s1__city">
                                <div class="service-s1__city-title">Мы имеем мобильные сервисные бригады в городах:</div>
                                <ul>
                                    <li><p class="service-s1__city-list">Москва</p></li>
                                    <li><p class="service-s1__city-list">Санкт-Петербург</p></li>
                                    <li><p class="service-s1__city-list">Новосибирск</p></li>
                                    <li><p class="service-s1__city-list">Екатеринбург</p></li>
                                    <li><p class="service-s1__city-list">Нижний Новгород</p></li>
                                    <li><p class="service-s1__city-list">Казань</p></li>
                                    <li><p class="service-s1__city-list">Челябинск</p></li>
                                    <li><p class="service-s1__city-list">Самара</p></li>
                                    <li><p class="service-s1__city-list">Уфа</p></li>
                                    <li><p class="service-s1__city-list">Пермь</p></li>
                                    <li><p class="service-s1__city-list">Краснодар</p></li>
                                    <li><p class="service-s1__city-list">Набережные-Челны</p></li>
                                </ul>
                                <div class="service-s1__city-info">
                                    <span>За каждой ремонтной бригадой</span> закреплен сервисный автомобиль, укомплектованный современным оборудованием, инструментом и оснасткой.
                                </div>
                            </div>
                        </div>
                        <div class="service-s1__right">
                            <div class="service-s1__elem">
                                <img src="images/2.webp" alt="">
                            </div>
                            <div class="service-s1__elem2">
                                <img src="images/3.webp" alt="">
                            </div>
                            <div class="service-s1__elem3">
                                <img src="images/s1-elem2.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="service-s2">
                <div class="container">
                    <div class="service-s2__wrapper">
                        <div class="service-s2__left">
                            <div class="service-s2__img">
                                <img src="images/vector-map.webp" alt="">
                            </div>
                        </div>
                        <div class="service-s2__right">
                            <div class="service-s2__title">производим капитальный ремонт</div>
                            <div class="service-s2__services">
                                <ul>
                                    <li><p class="service-s2__services-list">Двигателей внутреннего сгорания,</p></li>
                                    <li><p class="service-s2__services-list">Восстановление контроллеров</p></li>
                                    <li><p class="service-s2__services-list">Гидродинамических / механических коробок передач</p></li>
                                    <li><p class="service-s2__services-list">Электро-двигателей постоянного тока</p></li>
                                    <li><p class="service-s2__services-list">Гидравлических цилиндров</p></li>
                                    <li><p class="service-s2__services-list">Сварочные и покрасочные работы</p></li>
                                    <li><p class="service-s2__services-list">Ведущих и управляемых мостов</p></li>
                                    <li><p class="service-s2__services-list">Грузоподъемных устройств вилочной техники</p></li>
                                    <li><p class="service-s2__services-list">Гидродинамических / механических коробок передач</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="map">
                <div class="container">
                    <div class="map__wrapper">
                        <div class="map__form map__form">
                            <p class="map__form-title">Подберем технику за 15 минут</p>
                            <p class="map__form-subtitle">Оставьте свой номер, и мы перезвоним вам</p>
                            <form action="/">
                                <div class="map__form-item">
                                    <input class="map__form-input" type="text" name="phone" placeholder="Ваш номер телефона">
                                </div>
                                <div class="map__form-item">
                                    <input class="map__form-input" type="text" name="name" placeholder="Ваше имя">
                                </div>
                                <div class="map__form-item">
                                    <button class="map__form-btn" type="submit">Отправить</button>
                                </div>
                                <div class="map__form-item">
                                    <div class="map__form-checkbox">
                                        <input id="map-formAgreement" checked type="checkbox" name="agreement" class="map__checkbox-input">
                                        <label for="map-formAgreement" class="map__checkbox-label">
                                            <span>
                                                Я даю свое согласие на обработку персональных данных 
                                                и соглашаюсь с условиями и политикой конфиденциальности
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <a href="https://yandex.uz/maps/213/moscow/house/likhoborskaya_naberezhnaya_3s9/Z04YcwVhQUICQFtvfXR0dXxrZg==/?ll=37.520370%2C55.853907&z=17.54" target="_blank" id="map-block" class="map__block">
                        </a>
                    </div>
                </div>
            </div>

        </main>

        <footer class="footer" id="footer">
            <div class="container">
                <div class="footer__wrapper">
                    <div class="footer__item">
                        <a href="#top" class="footer__logo">
                            <img src="images/logo.svg" alt="logo">
                        </a>
                        <a href="#" class="footer__app-link">
                            <img src="images/google-play.webp" alt="link">
                        </a>
                    </div>
                    <div class="footer__item">
                        <div class="footer__address">
                            <p class="footer__address-title">АДРЕС</p>
                            <p class="footer__address-text">
                                Москва, Лихоборская набережная дом 3
                            </p>
                        </div>
                        <div class="footer__contacts">
                            <p class="footer__contacts-title">КОНТАКТЫ</p>
                            <a href="tel:+74951667733" class="footer__contacts-number">+7 (495) 166-77-33</a>
                            <p class="footer__contacts-email">mail@trade-group.su</p>
                        </div>
                    </div>
                    <div class="footer__item">
                        <p class="footer__item-title">КОМПАНИЯ</p>
                        <ul>
                            <li><a href="#" class="footer__item-link">О компании</a></li>
                            <li><a href="#" class="footer__item-link">Доставка</a></li>
                            <li><a href="#" class="footer__item-link">Сервис и запчасти</a></li>
                            <li><a href="#" class="footer__item-link">Реквизиты</a></li>
                            <li><a href="#" class="footer__item-link">Отзывы</a></li>
                        </ul>
                    </div>
                    <div class="footer__item">
                        <p class="footer__item-title">КАТАЛОГ</p>
                        <ul>
                            <li><a href="#" class="footer__item-link">Вилочные погрузчики</a></li>
                            <li><a href="#" class="footer__item-link">Техника для склада</a></li>
                            <li><a href="#" class="footer__item-link">Навесное оборудование</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__bottom">
                    <p class="footer__bottom-text">
                        © 2020-2022. ООО «ТРЭЙД ГРУПП». Все права защищены
                    </p>
                    <p class="footer__bottom-policy">Политика конфиденциальности</p>
                    <a href="#" class="footer__bottom-app-link">
                        <img src="images/google-play.webp" alt="link">
                    </a>
                    <div class="footer__bottom-social">
                        <!-- <a href="#" class="footer__social"><img src="images/social-icons/footer-facebook.svg" alt=""></a> -->
                        <a href="#" class="footer__social"><img src="images/social-icons/footer-youtube.svg" alt=""></a>
                        <!-- <a href="#" class="footer__social"><img src="images/social-icons/footer-instagram.svg" alt=""></a> -->
                        <a href="#" class="footer__social"><img src="images/social-icons/footer-whatsapp.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </footer>

        <div class="modal">
            <div class="modal__dialog">
                <div class="modal__content">
                    <div data-close class="modal__close">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.254395" y="16.1326" width="22.8149" height="2.28149" rx="1" transform="rotate(-45 0.254395 16.1326)" fill="#DF0000"/>
                            <rect width="22.8149" height="2.28149" rx="1" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.7458 16.1326)" fill="#DF0000"/>
                        </svg>                                
                    </div>
                    <form id="form">
                        <div class="modal__title">ЗАКАЗАТЬ ЗВОНОК</div>
                        <div class="modal__subtitle">Оставьте свой номер, и мы перезвоним вам</div>
                        <input required placeholder="Ваш номер телефона" name="phone" type="text" class="modal__input">
                        <input required placeholder="Ваше имя" name="name" type="text" class="modal__input">
                        <button type="submit" class="modal__btn">Отправить</button>
                        <div class="modal__checkbox">
                            <input id="modal-formAgreement" checked type="checkbox" name="agreement" class="modal__checkbox-input">
                            <label for="modal-formAgreement" class="modal__checkbox-label">
                                <span>
                                    Я даю свое согласие на обработку персональных данных 
                                    и соглашаюсь с условиями и политикой конфиденциальности
                                </span>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="thanks">
            <div class="thanks__dialog">
                <div class="thanks__content">
                    <div data-close class="thanks__close">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.254395" y="16.1326" width="22.8149" height="2.28149" rx="1" transform="rotate(-45 0.254395 16.1326)" fill="#DF0000"/>
                            <rect width="22.8149" height="2.28149" rx="1" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 17.7458 16.1326)" fill="#DF0000"/>
                        </svg>                                
                    </div>
                    <div class="thanks__title"><span>Спасибо.</span> <br> Заявка отправлена!</div>
                    <div class="thanks__subtitle">Наш менеджер получил Вашу заявку и скоро свяжется с Вами.</div>
                    <a href="#" class="thanks__link">Главная страница</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/swiper-boundle.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>