@font-face {
  font-family: "Inter";
  src: url(../../public/fonts/Inter-Light.woff),
    url(../../public/fonts/Inter-Light.woff2);
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../../public/fonts/Inter-Regular.woff),
    url(../../public/fonts/Inter-Regular.woff2);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../../public/fonts/Inter-Medium.woff),
    url(../../public/fonts/Inter-Medium.woff2);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../../public/fonts/Inter-SemiBold.woff),
    url(../../public/fonts/Inter-SemiBold.woff2);
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../../public/fonts/Inter-Bold.woff),
    url(../../public/fonts/Inter-Bold.woff2);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../../public/fonts/Inter-ExtraBold.woff),
    url(../../public/fonts/Inter-ExtraBold.woff2);
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../../public/fonts/Inter-Black.woff),
    url(../../public/fonts/Inter-Black.woff2);
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
